
 <{css src="css/font-awesome.min.css" app="b2c" pdir="textedit"}> 
 <{css src="css/froala_editor.min.css" app="b2c" pdir="textedit"}>
 
 <{script src="js/libs/jquery-1.11.1.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/froala_editor.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/tables.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/lists.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/colors.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/media_manager.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/font_family.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/font_size.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/block_styles.min.js" app="b2c" pdir="textedit"}>
 <{script src="js/plugins/video.min.js" app="b2c" pdir="textedit"}>

   <section id="editor" >       
	   <textarea id='edit' name="content"  
	  required="required"  autofocus >
      </textarea>  
  </section>  
  <script>
      $(function(){
          $('#edit').editable({inlineMode: false})
      });
  </script>
  