<div class="share-recommend" id="share_recommend">
  <span class="share pop-wrapper">
  <div class="jiathis_style_24x24">
    <span class="jiathis_txt" style="font-size:13px;">分享到：</span>
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_cqq "></a> 
        <!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>  
     --> </div>
  </span>

	</div>
	<!-- JiaThis Button BEGIN -->
	
	<script type="text/javascript">
	var jiathis_config = {
	  url: "",
	}
	<!-- 重新定义微信分享的url -->
	$$(".jiathis_button_weixin").addEvents({'click':function(e){
	  jiathis_config = {
	    url:"<{$share_wx_url}>",
	    title:document.getElementById("article_title").innerHTML,
		  summary:" —--— 点击查看大家关注什么吧",
	  }
	}}
	);
	$$(".jiathis_style_24x24 a[class!=jiathis_button_weixin]").addEvents({'click':function(e){
	  jiathis_config = {
	    url:'',
	    	title:document.getElementById("article_title").innerHTML,
	  	  summary:" —--— 点击查看大家关注什么吧",
	  }
	}}
	);
	
  	<!-- JiaThis Button BEGIN --> 
	var jiathis_config = {
	title:document.getElementById("article_title").innerHTML,
	  summary:" —--— 点击查看大家关注什么吧",
	  /* document.getElementById("article_title").innerHTML */  
	/* de:document.getElementById("description").innerHTML; */
	
	};  
	
	$$(".jiathis_style_24x24 a[class!=jiathis_button_cqq]").addEvents({'click':function(e){
		   /* var id = this.get('id');
		   var url= this.get('id') + ".html";
		   var title= this.get('name'); */
		  /*  alert(url);
		   alert(title); */
		  jiathis_config = {
		    url:url,
		    title:document.getElementById("article_title").innerHTML,
		    summary:" —--— 点击查看大家关注什么吧",
		  }
		}}
		);
	
	
	<!-- JiaThis Button END -->
	
	</script>
	<!-- JiaThis Button END -->
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
	<!-- JiaThis Button BEGIN -->
