<{css src="phone1.css" app="wap" pdir="css_mini"}>
<meta charset=utf-8">
<html lang="zh-CN">

<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
     ‹
        </a>
        <div class="a-name">
            怒火论坛
        </div>
         <a href="<{link app=forum ctl=wap_theme act=myPost}>" >
        <div class="a-right">
         
        </div>
        </a>
    </div>
    </header>

  <div class="article-mod">
  
    <div class="mod-title">
      <h1>论坛区</h1>
      <h3>在这里挖掘怒火的一切</h3>
    </div>
        <!--  列表部分 -->
    <div class="mod-content">
    <div class="type-add">
    <div class="type">
     <select onchange="window.location=this.value;">  
     <option value="">选择分类</option>
      <{foreach from=$typeList item=typeList key=key}>
<option value="<{link ctl='wap_theme' act='index' app='forum' arg0=$typeList.type_id}>" ><{$typeList.typename}></option>  
<{/foreach}>
    </select>  
    
  </div>
     <div class="add">
     <a href="<{link app=forum ctl=wap_theme act=add arg0="kkk" }>" class="lnklike">发 帖</a>
  <!--  发帖的link里面的arg0参数是为了让add页面正常显示，如果无参数则显示空白 -->
     </div>
  </div>
        <{foreach from=$themes item=theme key=key}>
       <div class="left-con-module">
                  	<p><a href="##"><{$theme.member_name}></a><span><span class="datetime">[<{$theme.time|date:'Y-m-d H:i'}>]</span></span></p>
                  	<p><a class="aa"><{$themetype.typename}></a><a href="<{link app=forum ctl=wap_theme act=l arg0=$theme.main_id}>" title="<{$theme.title}>"><{$theme.title}></a></p>
                  	<p class="p-icon"><a><{$theme.lnnum}></a><a><{$theme.reply_num}></a><a><{$theme.sc_num}></a></p>
                  </div> <{/foreach}>

    </div>
  </div>
  <{pagers data=$pager}>
</div>
</html>