<{css src="phone1.css" app="wap" pdir="css_mini"}>
<{css src="phone2.css" app="wap" pdir="css_mini"}>
<div class="full-screen">
 <header>
    <div class="a-bar">
        <a href="<{link app=forum ctl=wap_theme act=index}>" class="a-back">
     ‹
        </a>
        <div class="a-name">
            我的帖子
        </div>
    </div>
    </header>
    <div class="m-type">
      <div class="mypost-top-type2">
        <ul class="mypost-top-list2">
            <li>
               <a href="<{link app=forum ctl=wap_theme act=myPost}>" >我的帖子</a>
            </li>
        </ul>
      </div>
      <div class="mypost-top-type2">
        <ul class="mypost-top-list2">
            <li>
               <a href="<{link app=forum ctl=wap_theme act=myComment}>">我的评论</a>
            </li>
        </ul>
      </div>
      <div class="mypost-top-type">
        <ul class="mypost-top-list">
            <li>
               <a href="<{link app=forum ctl=wap_theme act=myCollection}>">我的收藏</a>
            </li>
        </ul>
      </div>
    </div>
     <div class="article-mod">
     <div class="mod-content">
   
        <{foreach from=$themes item=theme key=key}>
       <div class="left-con-module">
                  	<p><a href="##"><{$theme.member_name}></a><span><span class="datetime">[<{$theme.time|date:'Y-m-d H:i'}>]</span></span></p>
                  	<p><a class="aa"><{$theme.typename}></a><a href="<{link app=forum ctl=wap_theme act=l arg0=$theme.main_id}>" title="<{$theme.title}>"><{$theme.title}></a></p>
                  <p class="p-icon"><a><{$theme.lnnum}></a><a><{$theme.reply_num}></a><a><{$theme.sc_num}></a></p>
                  </div> <{/foreach}>
</div>
    </div>
    <a href="<{link app=forum ctl=wap_theme act=add }>">
    <div class="b-bar">
发帖
</div>
</a>
</div>
</div>