<{css src="phone1.css" app="wap" pdir="css_mini"}>
<{css src="phone2.css" app="wap" pdir="css_mini"}>
<{script src="js_mini/shop.min.js" app="wap" pdir="statics"}>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="<{link app=forum ctl=wap_theme act=index}>" class="a-back">
     ‹
        </a>
        <div class="b-name">
            帖 子
        </div>
         <{if $theme.member_id==$members.member_id}> 
        <div class="a-function">
        <a href="<{link ctl='wap_theme' act='mytheme_edit_page' app='forum' arg0=$theme.main_id}>" >
         <div class="b-right"></div>
         </a>
         <a href="<{link ctl='wap_theme' act='delete_theme' app='forum' arg0=$theme.main_id}>"  id="action-delete"      class="action-delete"> 
         <div class="c-right"></div>
        </a>
        </div>
        <{else}>
        <div class="k-right"></div>
        <{/if}>
    </div>
    </header>
  <div class="article-main">
      <div class="mod-title">
        <h2><{$theme.title}></h2>
      </div>
      <div class="mod-content">
         <p class="article-name">发帖会员:<{$theme.member_name}></p>
    <p><a class="aa"><{$themetype.typename}></a><span><span class="datetime">[<{$theme.time|date:'Y-m-d H:i'}>]</span></span></p>
        <table class="reply_table" >
          <tr>
            <td rowspan="2" valign="top"class="reply_content"><{$theme.content}></td>
          </tr>
        </table>
        <div style="text-align:right">
 
   <div style=" width:250px; display:inline-block;"> 
       <!-- 分享推荐收藏 -->
      <div class="shars-recommend">
  <{if $sc.theme_id!=null}> 
  <div class="scButton1"> <a href="<{link app=forum ctl=wap_theme act=scdelete arg0=$theme.main_id}>"></a> </div>
  <{else}> 
 <div class="scButton"> <a href="<{link app=forum ctl=wap_theme act=scAdd arg0=$theme.main_id}>"></a> </div>
 <{/if}>

	  </div>
   </div>
 </div>
      </div>
    </div>
     <!-- 回复列表开始--->
        
     <div class="pl">
   <div class="p-t">
     <span id="s1">评论</span>
     <span id="s2"><{$theme.reply_num}></span>
   </div>
     <!--回复列表开始--->
     <{foreach from=$replys item=reply key=key}>
     <div class="p-c">
      <table class="reply_table">
   <tbody>
     <tr> 
        <td style="color:#fc6e6e;" valign="top">
         <strong class="reply_name"><{$reply.member_name}></strong>
         <span class="reply_time"><{$theme.time|cdate:'SDATE_STIME'}></span>
        </td>
         </tr>
     <tr> 
        <td rowspan="2" valign="top"class="reply_content"><{$reply.content}></td>
      
     </tr>
   </tbody>
 </table>
  <div style="text-align:right;font-size: 20px;">
    #<{$reply.floor}> 
 </div>
 </div>
         <{/foreach}>
   <{pagers data=$pager}>
 </div>
    <!--回复列表结束--->
     
    <form id="writer" method="post" action="<{link ctl='wap_theme' act='reply_save' app='forum'}>">
        <input type="hidden" name="main_id" value="<{$theme.main_id}>" />
         <div class="cont">
      <textarea name="content" rows="20" cols="40" required="required" style="width: 100%; height: 200px; font-size: 34px;; word-break: break-all; word-wrap: break-word; font-family: Helvetica;" placeholder="请输入您的内容..."></textarea>
       </div>
       <div class="c-bar">
         <{button type="submit"   label="回复" rel="_request"}> 
          </div>
    </form>
   
</div>
<script>
//收藏商品
  $('.action-delete').bind('click',function(){
	if(!confirm('确认删除该贴？'))return false;
    $.post('<{link app=forum ctl=wap_theme act=delete_theme arg0=$theme.main_id}>',function(re){
    });
}); 
  </script>