<{assign var=mapp value=$env.conf.base.system.main_app}>
<div style="line-height:30px;">【年中特卖】年中回馈用户，推出史前最低价4.1分/条短信，疯狂抢不停，活动时间截止时间7月15日，只在本月购买才能给享受哦！（ECStore后台-控制面板-邮件短信设置-短信平台设置中可直接购买）
<iframe id="x-advertisement" name="x-advertisement" style="visibility:hidden;"  width="100%" scrolling="auto" height="100%" frameborder="0" src="http://top.shopex.cn/ecos/desktop.php?cross_call_url=<{$cross_call_url}>&f=<{$mapp.app_id}>&pid=<{if $env.conf.desktop.product_id}><{$env.conf.desktop.product_id}><{else}><{$product_key}><{/if}>" allowtransparency="true"></iframe>
