
<form method="POST" id='newmember-edit-form' action="index.php?app=forum&ctl=admin_theme&act=updatemgword" class="tableform">
   <div class="division">
        <table width="100%" >
       <h1 style='font-size:15px;'>请输入:</h1>
           <tr><th><em class="red">*</em><{t}>敏感词汇为：<{/t}></th><td><{input type="text" name="mgword"   size="20" vtype="required" value=$mgwords.0.mgword }><span></span></td></tr>
           <tr><td><{input type="hidden" name="mgword_id"   size="20" vtype="required" value=$mgwords.0.mgword_id }><span></span></td></tr>
        </table>
        <div class="table-action"><{button type="submit"  label="保存"  id='newmember-edit-form-submit'}></div>
        <hr style="margin:5px 0;">
<{area inject='.mainFoot'}>


<{/area}>

</div>
</form>


<script>
    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get.finder_id}>'];

        _form.store('target',{
            onComplete:function(){            

            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finder.refresh.delay(400,finder);
                    }
                }
                else
                {
                    //alert(hash_res_obj.error);
                }            
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});



        });

    })();
    
    
    </script>

