

  <form method="POST" id='newmember-edit-form' action="index.php?app=forum&ctl=admin_theme&act=savetheme" class="tableform">
   <div class="division">
        <table width="100%" >
            <tr><th><em class="red">*</em><{t}>主题标题：<{/t}></th><td><{input type="text" name="title"   size="100" vtype="required"}><span></span></td></tr>
            <tr><th><em class="red">*</em><{t}>主题内容：<{/t}></th><td><{input type="html" name="content"    vtype="required"}><span></span></td></tr>
            <tr><th><em class="red">*</em><{t}>主题类型：<{/t}></th><td><{input type='select' name='themetype' vtype="required" options=$mem.lv.options value=$mem.lv.options.value }></td></tr>
          <{input type="hidden" name="lnnum"   size="20" vtype="required" value="0"}>
          <{input type="hidden" name="state"   size="20" vtype="required" value="0"}>
          <{input type="hidden" name="hot"   size="20" vtype="required" value="0"}>
        </table>		
        <hr style="margin:5px 0;">


<{area inject='.mainFoot'}>


<div class="table-action"><{button type="submit"  label="保存"  id='newmember-edit-form-submit'}></div>


<{/area}>



<script>
    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get.finder_id}>'];

        _form.store('target',{
            onComplete:function(){            

            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finder.refresh.delay(400,finder);
                    }
                }
                else
                {
                    //alert(hash_res_obj.error);
                }            
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});



        });

    })();


</script>


