
body {
    color: #333;
    font-size: 13px;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, fieldset, form, input, select, textarea, button, figure {
    margin: 0;
    font-family: "Microsoft YaHei";
}
a {
    color: #333;
    text-decoration: none;
}
.full-screen{
    margin: 0 auto;
   
}
.a-bar {
   display: -webkit-box;
    width: 100%;
    padding: 27px 0 35px;
    height: 25px;
    background-color: #f95a51;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.a-bar .arr {
    position: relative;
    top: -2px;
}
.arr {
    display: inline-block;
    border: #666 solid;
    border-width: 2px 2px 0 0;
    width: 4px;
    height: 4px;
}
.a-bar .a-name {
   text-align: center;
    font-size: 38px;
    font-weight: normal;
    color: #fff;
    -webkit-box-flex: 1;
    height: 25px;
    line-height: 25px;
}
.a-bar .a-back {
        color: #fff;
    margin-left: 9px;
    text-decoration: none;
    text-align: center;
    height: 25px;
    line-height: 8px;
    font-size: 91px;
}

.a-bar .a-right {
	width: 55px;
    margin-right: 17px;
    margin-top: -14px;
    text-decoration: none;
    height: 66px;
    line-height: 27px;
    background: url(../img/mypost.png) no-repeat;
    background-size: 106%;
}
.article-list .article-item {
    line-height: 2.5;
    font-size: 14px;
}
.pageview {
    padding: 10px 0;
    text-align: center;
    font-size: 27px;
}
.pageview .over {
    color: #ccc;
}
.pageview .flip {
    display: inline-block;
    padding: 0px 12px 2px;
    margin: 0 2px;
    border: 1px solid #ddd;
}
.article-mod{
	margin: 42px;
}
.mod-title h1{
       margin: 10px;
    font-size: 65px;
    text-align: center;
}
.mod-title h3{
   margin: 30px;
    text-align: center;
    font-size: 33px;
    color: rgba(100, 100, 100, 0.7);
}
.type-add{
     width: 100%;
    height: 40px;
    margin-bottom: 37px;
}
.type{
	    float: left;
}
.type select{
	    font-size: 32px;
	    
}

.add{
	
    text-align: center;
    margin: 0 auto;
    float: right;
    }
.add a{
       display: inline;
    padding: 3px 37px;
    width: 60px;
    height: 46.5px;
    border-radius: 78px;
    border: 7px solid #fc6e6e;
    color: #fff;
    font-size: 28px;
    background: #fc6e6e;
	
}
.left-con-module {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.left-con-module p:nth-child(1) a {
    color: #fc6e6e;
    font-size: 32px;
}
.left-con-module p:nth-child(1) span {
    font-size: 21px;
    color: rgba(100, 100, 100, 0.65);
    margin-left: 25px;
}
.left-con-module p:nth-child(2){
	display: inline-flex;
    width: 100%;
    
	
}
.left-con-module p:nth-child(2) .aa {
    display: inline-table;
    width: 110px;
    height: 35px;
    line-height: 50px;
    font-size: 24px;
    border: 1px solid #ff765b;
    color: #ff765b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.left-con-module p a{
	display:inline-block;
    height: 53px;
	}
.left-con-module p:nth-child(2) a {
    display: inline-block;
    line-height: 67px;
    color: #000;
    font-size: 32px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.p-icon{
	display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p-icon a {
    width: 65px;
    font-size: 24px;
    margin-right: 74px;
    box-sizing: border-box;
    padding: 3px 46px;
}

.p-icon a:nth-child(1) {
    background: url(../img/eye.png) no-repeat;
    background-size: 40px;
}
.p-icon a:nth-child(2) {
    background: url(../img/judge.png) no-repeat;
    background-size: 40px;
}
.p-icon a:nth-child(3) {
    background: url(../img/heart2.png) no-repeat;
    background-size: 40px;
}

/* 帖子编辑↓ */

.main .top{
	    margin-left: 22px;
}

.main .top input{
    width: 560px;
    height: 165px;
    border: none;
    outline: none;
    font-size: 65px;
   font-weight: inherit;
}
.main .bot{
	width: 80%;
    margin-left: 20px;
    font-size: 26px;
    font-weight: normal;
    margin-top: 40px
}
.main .bot select{
	font-size: 25px;
    width: 120px;
    height: 56px;
    text-indent: 5px;
    background-color: #eee;
    font-weight: bold;
    border: 1px solid #ccc;
}
.main .bot .b-act a{
	color: #fff;
}
.cont{
	border:1px solid #ccc;
	margin: 30px;
}
.b-bar {
    text-align: center;
    width: 80%;
    padding: 27px 0 26px;
    height: 25px;
    background-color: #f95a51;
    position: relative;
    bottom: 0;
    left: 7%;
    margin: 20px;
    overflow: hidden;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    background-color: #f95a51;
    line-height: 25px;
}
.b-bar button{
	font-size: 40px;
    font-weight: normal;
    color: #fff;
    background-color: #f95a51;
    line-height: 25px;
}



/* 帖子详情 ↓*/
.article-main{
	margin: 30px;
    border-bottom: 1px solid #ccc;
}
.mod-title{
	font-size: 34px;
    margin: 35px 0 30px;
	
}
.mod-content{
   margin-bottom: 36px;
}
.article-name{
    color: #fc6e6e;
    font-size: 31px;
}
.mod-content p:nth-child(2){
	    margin: 11px 0 10px 0;
}
.mod-content p:nth-child(2) .aa {
    display: inline-table;
    width: 110px;
    height: 35px;
    line-height: 50px;
    font-size: 24px;
    border: 1px solid #ff765b;
    color: #ff765b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mod-content p:nth-child(2) span {
    font-size: 23.76px;
    color: rgba(100, 100, 100, 0.65);
    margin-left: 19px;
}
.article-content{
	font-size: 34px;
    color: #545252;
	
}
.pl{
    border-bottom: 1px solid #ccc;
    margin:30px;
    min-height: 150px;
}
.pl .p-c {
    margin: 20px 0 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.pl .p-t{
	font-size: 20px
}

.pl .p-t span{
    border:1px solid #ccc;
    display: inline-block;
    background: rgba(216, 8, 8, 0.65);
    color: #fff;
}
.pl .p-t #s1{
    border:1px solid #ccc;
    display: inline-block;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.pl .p-t #s2{
    border:1px solid #ccc;
    display: inline-block;
    width: 30px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: -6px;
}
.reply_table{
	TABLE-LAYOUT: fixed;
	border:1;
	cellspacing:0;
    cellpadding:0;
	width:100%;
	
}
.reply_name{
	font-size: 26px;
}
.reply_time{
	color:#9D9D9D;
	float: right;
	font-size: 26px;
}
.reply_content{
	font-size: 34px;
	word-wrap:break-word;
}
.c-bar {
    text-align: center;
    width: 80%;
    padding: 27px 0 26px;
    height: 25px;
    background-color: #f95a51;
    position: relative;
    bottom: 0;
    left: 7%;
    margin: 20px;
    overflow: hidden;
}
.c-bar button {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    background-color: #f95a51;
    line-height: 25px;
}
.a-function{
	width: 17%;
}
.a-function a{
	    display: table-cell;
}
.a-bar .b-name {
   text-align: center;
    font-size: 38px;
    font-weight: normal;
    color: #fff;
    margin-left: 100px;
    -webkit-box-flex: 1;
    height: 25px;
    line-height: 25px;
}
.a-bar .b-right {
	width: 55px;
    margin-right: 17px;
    margin-top: -14px;
    text-decoration: none;
    height: 66px;
    line-height: 27px;
    background: url(../img/bianji.png) no-repeat;
    background-size: 112%;
}

.a-bar .c-right {
	width: 55px;
    margin-right: 9px;
    margin-top: -14px;
    text-decoration: none;
    height: 66px;
    line-height: 27px;
    background: url(../img/shanchu.png) no-repeat;
    background-size: 106%;
}

.d-function{
	width: 17%;
}
.d-function a{
	 float: right;
    line-height: 32px;
    margin-right: 26px;
    font-size: 26px;
    color: #fff;
}

